.newBannerMain p {
  border-right: solid 5px rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 28px;
  color: #192733;
}

/* Animation */
.newBannerMain p {
  animation: animated-text 4s linear 1s 1 normal both,
    animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 456px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
